.hero {
  background-image: url('../pictures/background.jpg');
  background-size: cover;
  width: 100%;
}

.about {
  margin: 2%;
}

.about img{
  width: 50%;
  margin: 2%;
}

.tab-content {
  margin: auto;
  padding: 3%;
}
