* {
  font-family: 'Josefin Slab', serif;
  font-size: 1.5rem;
  color: #3E4E50;
}

a {
  color: #3E4E50;
}

a:hover {
  color: #CDE7B0;
}


h3 {
  text-shadow: 2px 2px #FFF;
}

.navbar {
  background-color: rgb(226,226,226);
}

.navbar-brand {
  font-family: 'Shadows Into Light', cursive;
}

.footer {
  background-color: #7F675B;
  padding: 3%;
}

.footer p{
  color: #CDE7B0;
}

.footer a {
  color: #DDBDD5;
}

.footer a:hover {
  color: #CDE7B0;
}

.footer img {
  width: 25%;
  background-color: rgba(226,226,226,.25);
  border-radius: 100%;
}

.attr, .attr a {
  font-size: 15px;
  margin: 3%;
}
