* {
  font-family: 'Josefin Slab', serif;
  font-size: 1.3rem;
  color: #3E4E50;
}

a {
  color: #58A4B0;
}

a:hover {
  color: #49306B;
  text-decoration: none;
}


h1, h2, h3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;
  text-shadow: 2px 2px #FFF;
  color: #49306B;
}

.navbar-brand img {
  width: 30%;
}

.footer {
  background-color: #65524D;
  padding: 3%;
}

.footer p{
  color: #FFF;
}

.footer img {
  width: 25%;
  background-color: rgba(226,226,226,.25);
  border-radius: 100%;
}

.attr, .attr a {
  font-size: 15px;
  margin: 3%;
}
