* {
  font-family: 'Josefin Slab', serif;
  color: #3E4E50;
}

a {
  color: #58A4B0;
  font-size: 1.3em;
}

a:hover {
  color: #49306B;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  color: #49306B;
}

h2 {
  font-size: 2em;
}

h3 {
  color: #49306B;
  font-style: italic;
}

h1, h2, h3 {
  font-family: 'Shadows Into Light', cursive;
}

.footer {
  background-color: #65524D;
  padding: 3%;
}

.footer p{
  color: #FFF;
}

.footer img {
  width: 25%;
  background-color: rgba(226,226,226,.25);
  border-radius: 100%;
}

.attr, .attr a {
  font-size: 15px;
  margin: 3%;
}
